.hide {
  display: none;
  font-size: 72px;
}

.myDIV:hover + .hide {
  display: block;
  color: blue;
  margin: auto;
   padding: 0px;
   text-align: left;
   word-wrap: break-word;
}

.myDIV{
  font-size: 12px;
}
